.about{
    /* border: 2px solid black; */
    padding-bottom: 50px;
    /* height: ; */
}
.primary{
    color: black;
    margin: 0px;
    text-shadow: 3px 3px rgb(228, 132, 132);
    font-size: 4rem;
    padding: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.center{
    text-align: center;
}