.header{
    display: flex;
    background-color: rgb(17, 16, 16);
    height: 100px;
}

.header form{
    margin: 0px 40px;
    /* padding: 10px; */
}
.header ul{
    position: absolute;
    right: 38px;
    /* word-spacing: 10px; */
    /* margin: 18px 10px; */
    display: flex;
    padding: 28px 20px;

}
.header input{
    /* padding: 6px;
    margin: 10px 0px; */
    width: 323px;
    height: 30px;
    


}
.header button {
    float: right;
    padding: 10px;
    /* margin-top: 8px; */
    /* margin-right: 16px; */
    background: #ddd;
    /* font-size: 50px; */
    border: none;
    cursor: pointer;

  }
button:hover{
    background: #ccc;
}

.header ul li{
    list-style: none;

}
.header ul li a{
    margin: 10px 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-weight: bold; */
    /* border: 2px solid; */
}
.header ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}